@import "tailwindcss";

@theme {
  /* ── colours ─────────────────────────────────────── */
  --color-aspire-navy: #0c365a;
  --color-aspire-green: #01d167;
  --color-aspire-white: #ffffff;
  --color-aspire-black: #222222;
  --color-aspire-blue: #325baf;
  --color-aspire-blue-light: #23cefd;
  --color-aspire-white-light: #fcfcfc;
  --color-aspire-shadow: #00000014;
  --color-aspire-shadow-card: #0000000a;
  --color-aspire-border: #f5f5f5;
  --color-aspire-background: #f5f9ff;
  --color-aspire-background-light: #edf3ff;

  /* ── Font family ───────────────────────────────────────── */
  --font-sans: "Open Sans", sans-serif; /* Adding this too for Tailwind v4 */

  /* ── Font sizes with paired line-heights ───────────────── */

  --text-xxs: 0.75rem; /* 12px */
  --text-xs: 0.8125rem; /* 13px */
  --text-sm: 0.875rem; /* 14px */
  --text-description: 1rem; /* 16px */
  --text-subtitle: 1.25rem; /* 20px */
  --text-lg: 1.5rem; /* 24px */
  --text-title: 1.625rem; /* 26px */

  /* Line heights */
  --leading-xxs: 0.875rem; /* 14px */
  --leading-xs: 1rem; /* 16px */
  --leading-sm: 1.125rem; /* 18px */
  --leading-card: 1.1875rem; /* 19px */
  --leading-description: 1.25rem; /* 20px */
  --leading-lg: 1.5rem; /* 24px */
  --leading-subtitle: 1.75rem; /* 28px */
  --leading-title: 2rem; /* 32px  */
}

/* Add this one utility */
@utility nav-icon {
  background-color: currentColor;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
